html
{
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}
body
{
  width: 90%;
  height: 800px;
  background-color: #003475;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}

.header
{
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.indicator-box
{
  width: 90%;
  height: 20%;
  margin: 5%;
  background-color: #212E39;
  border-radius: 15px;
}
.indicator
{

}
.indicator_png
{

}
.button-about-smog, .button-credits, .button-smog-calc, .button-info-anty-smog
{
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 20px;
  float: left;
  width: 90%;
  height: 40px;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 3%;
  margin-bottom: 3%;
  padding: 5px;
  background-color: #6AE29B;
  border: #76bf66;
  border-radius: 10px;
  text-align: center;
}
.back-button
{
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  height: 30px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 20px;
  align-content: center;
  background-color: #6AE29B;
  border-radius: 10px;
  text-align: center;
}
.button-about-smog:hover, .button-credits:hover, .button-smog-calc:hover, .button-info-anty-smog:hover, .back-button:hover
{
  background-color: #5AD18A;
}
.button-about-smog:active, .button-credits:active, .button-smog-calc:active, .button-info-anty-smog:active, .back-button:active
{
  background-color: #4AC07A;
}
.no-link
{
  color: #ffffff;
  text-decoration: none;
}
.no-link2
{
  color: #92eeb6;
  text-decoration: none;
}
.footer
{
  text-align: center;
  float: bottom;
  ;
}
.logo
{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  margin-top: 5%;
  height: 250px;
  width: 250px;
  align-content: center;
}
.main-content
{
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  padding: 5%;
}
